<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';"/>
  <title>Agenzzia File structure to JSON</title>

</head>
<body>
<div class="layout">
  <div class="top">
    <h2>File structure JSON converter</h2>
  </div>
  <div class="main">
    <div class="toolbar">
      <label for="attributes">Attributes</label><input type="text" id="attributes" placeholder="add attributes, separated by comma"/>
      <label for="prefix-text">Prefix text</label><textarea class="sufix-prefix-text" name="prefix-text" id="prefix-text">{"children":[</textarea>
      <label for="sufix-text">Sufix text</label><textarea class="sufix-prefix-text" name="sufix-text" id="sufix-text">]}</textarea>
      <button id="openbtn">Open Directory</button>
      <button id="closebutton-toolbar">Close</button>
    </div>
    <div class="display">
      <label for="displaytext">Result</label>
      <textarea name="display" id="displaytext"></textarea>
      <div class="display-toolbar">
        <button id="clearbutton">Clear</button>
        <button id="savebutton">Save</button>
        <button id="closebutton-display">Close</button>
      </div>
    </div>
  </div>
  <div class="footer"><a href="https://agenzzia.com">Agenzzia</a></div>
</div>
</body>
</html>
